body {
    font-family: 'Corporative Alt Sans', 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    background-color: steelblue;
    color: rgba(255, 255, 255, 0.75);
    transition: all .75s;
}

h1 {
    font-family: 'Corporative', 'IBM Plex Sans', sans-serif;
    font-size: 3.5em;
    font-weight: 900;
    color: rgba(255, 255, 255, 1);
}

h2 {
    font-family: 'Corporative', 'IBM Plex Sans', sans-serif;
    font-weight: 900;
    color: rgba(255, 255, 255, 1);
}

p {
<<<<<<< Updated upstream
<<<<<<< Updated upstream
    font-size: 1.13em;
    margin-bottom: 1.13em;
=======
    font-size: 1.2em;
>>>>>>> Stashed changes
=======
    font-size: 1.2em;
>>>>>>> Stashed changes
}

ul {
    list-style-type: square;
}

li {
    margin-bottom: .5em;
    line-height: 1.33;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255);
    border-bottom: 2px dotted rgba(255, 255, 255, 0.3);
}

.favs-box {
    border: 2px solid rgb(255, 255, 255, 0.2);
    border-radius: 6px;
}

.theme-bar span {
    font-size: 1em;
    padding: 0 4px;
}

button {
    background-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0.75);
    border: none;
    text-align: center;
    margin: 0 5px;
}

button:hover {
    color: rgba(255, 255, 255, 1);
}

button i.fa {
    font-size: 120%;
}

/* ===== Dark mode ===== */

.dark-bg {
    background-color: rgba(0, 0, 0, 1);
}

.dark-bg p, 
.dark-bg li {
    color: rgb(150, 150, 150);
}

.dark-bg h1,
.dark-bg h2,
.dark-bg button i,
.dark-bg button small,
.dark-bg #greeting-icon i,
.dark-bg a {
    color: rgb(200, 200, 200);
}

/* ===== Seasonal Themes ===== */

/* Winter */

.seasonal-bg.winter-theme {
    background-color: rgb(204, 240, 255);
}

.seasonal-bg.winter-theme p,
.seasonal-bg.winter-theme li,
.seasonal-bg.winter-theme small,
.seasonal-bg.winter-theme button {
    color: rgb(46, 76, 130);
}

.seasonal-bg.winter-theme li::marker {
    color: rgb(157, 173, 223);    
    content: '\f2dc     ';
    font-family: FontAwesome;    
    font-weight: lighter;
    font-size: 90%;
}

.seasonal-bg.winter-theme a {
    border-bottom: 1px solid rgb(157, 173, 223)}

.seasonal-bg.winter-theme h1,
.seasonal-bg.winter-theme h2,
.seasonal-bg.winter-theme button i,
.seasonal-bg.winter-theme #greeting-icon i, 
.seasonal-bg.winter-theme a {
    color: rgb(112, 139, 219);
}

.seasonal-bg.winter-theme .favs-box {
    border: 1px solid rgb(157, 173, 223);
    border-radius: 0;
}

/* Christmas Theme */
.seasonal-bg.christmas-theme {
    background-color: rgb(255, 255, 240);
}

.seasonal-bg.christmas-theme p,
.seasonal-bg.christmas-theme li,
.seasonal-bg.christmas-theme a,
.seasonal-bg.christmas-theme button {
    color: green;
}

.seasonal-bg.christmas-theme h1,
.seasonal-bg.christmas-theme h2,
.seasonal-bg.christmas-theme button i,
.seasonal-bg.christmas-theme small,
.seasonal-bg.christmas-theme #greeting-icon i {
    color: darkred;
}

.seasonal-bg.christmas-theme a {
    border-bottom: 2px dashed darkred;
}

.seasonal-bg.christmas-theme li::marker {
    color: rgb(184, 5, 17);
    content: '\f06b     ';
    font-family: FontAwesome;
    font-size: 85%;
}

.seasonal-bg.christmas-theme .favs-box {
    border: 2px dashed darkred;
    border-radius: 12px;
}

.seasonal-bg.christmas-theme #greeting-icon .fa-hand {
    color: grey;
}

/* New Years Theme */
.seasonal-bg.ny-theme {
    background-color: rgb(24, 24, 24);
}

.seasonal-bg.ny-theme h1,
.seasonal-bg.ny-theme h2,
.seasonal-bg.ny-theme button i,
.seasonal-bg.ny-theme button small,
.seasonal-bg.ny-theme #greeting-icon i,
.seasonal-bg.ny-theme a {
    color: rgb(255, 216, 99);
}

.seasonal-bg.ny-theme li::marker {
    color: rgb(255, 216, 99);
    content: '\e4dc     ';
    font-family: FontAwesome;
    font-weight: lighter;
    font-size: 90%;
}

/* Valentines Theme */
.seasonal-bg.valentines-theme {
    background-color: pink;
}

.seasonal-bg.valentines-theme p,
.seasonal-bg.valentines-theme li,
.seasonal-bg.valentines-theme a,
.seasonal-bg.valentines-theme button {
    color: darkred;
}

.seasonal-bg.valentines-theme h1,
.seasonal-bg.valentines-theme h2,
.seasonal-bg.valentines-theme button i,
.seasonal-bg.valentines-theme small,
.seasonal-bg.valentines-theme #greeting-icon i {
    color: darkred;
}

.seasonal-bg.valentines-theme a {
    border-bottom: 2px dotted red;
}

.seasonal-bg.valentines-theme li::marker {
    color: red;
    content: '\f004     ';
    font-family: FontAwesome;
    font-size: 85%;
}

.seasonal-bg.valentines-theme .favs-box {
    border: 2px dotted red;
    border-radius: 12px;
}

.seasonal-bg.valentines-theme #greeting-icon .fa-hand {
    color: red;
}